* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

main .sr-only {
    display: none;
}

.nft-card {
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0px 23px 0px 16px #0c1729, 0px 16px 0px 32px #0c192c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 600px;
    border-radius: 16px;
    padding: 24px;
}

.nft-card__image-container {
    cursor: pointer;
    position: relative;
}

.nft-card__image-container:hover .overlay {
    opacity: 0.6;
}

.nft-card__image-container:hover svg {
    opacity: 1;
}

.nft-card__image {
    width: 304px;
    border-radius: 10px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    opacity: 0;
    transition: .3s ease;
    background-color: hsl(178, 100%, 50%);
    border-radius: 8px;
}

.nft-card__image-container svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}

.card__title-text {
    color: white;
    cursor: pointer;
    transition: color 0.2s ease;
    font-weight: 600;
    font-size: 1.375rem;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 16px;
}

.card__title-text:hover,
.card__title-text:active {
    color: hsl(178, 100%, 50%);
}

.card__body-text {
    font-weight: 300;
    text-align: left;
    margin: 0;
}

.nft-card__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

.nft-card__status div {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
}

.nft-card__value svg {
    fill: hsl(178, 100%, 50%);
}

.nft-card__value p {
    color: hsl(178, 100%, 50%);
    font-weight: 700;
}

.line {
    width: 100%;
    height: 1px;
    background-color: hsl(215, 32%, 27%);
    margin-top: 0.5rem;
}

.nft-card__footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 16px;
    margin-top: 6px;
    gap: 1rem;
}

.nft-card__footer img {
    width: 33px;
    border: 1.6px solid white;
    border-radius: 50%;
}

.nft-card__footer p {
    display: inline-block;
    font-weight: 300;
}

.nft-card__footer a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nft-card__footer a:hover,
.nft-card__footer a:active {
    color: hsl(178, 100%, 50%);
}

footer {
    position: absolute;
    bottom: 0;
}

.attribution { 
    font-size: 16px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

.attribution a:hover,
.attribution a:active {
    color: #ff1b68;
}